* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  max-width: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
.tag {
  display: inline-block;
  line-height: 2.4rem;
  padding: 0 1.1rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  margin: 0 5px;
}
.tag:first-child {
  margin-left: 0;
}
.tag.grass {
  background-color: rgba(114, 184, 97, 0.1);
  color: #73b861;
}
.tag.poison {
  background-color: rgba(172, 106, 202, 0.1);
  color: #ac6aca;
}
.tag.water {
  background-color: rgba(79, 120, 190, 0.1);
  color: #4f77be;
}
.tag.fire {
  background-color: rgba(233, 99, 3, 0.1);
  color: #e96303;
}
.tag.psychic {
  background-color: rgba(235, 139, 132, 0.1);
  color: #eb8b85;
}
.tag.flying {
  background-color: rgba(117, 140, 189, 0.1);
  color: #758cbd;
}
.tag.ice {
  background-color: rgba(113, 186, 171, 0.1);
  color: #71baac;
}
.tag.ground {
  background-color: rgba(206, 128, 86, 0.1);
  color: #ce8056;
}
.tag.rock {
  background-color: rgba(132, 190, 179, 0.1);
  color: #84beb3;
}
.tag.electric {
  background-color: rgba(245, 209, 5, 0.1);
  color: #d4bc34;
}
.tag.bug {
  background-color: rgba(156, 186, 72, 0.1);
  color: #9bba48;
}
.tag.dark {
  background-color: rgba(89, 87, 97, 0.1);
  color: #595761;
}
.tag.dragon {
  background-color: rgba(44, 106, 193, 0.1);
  color: #2c6ac1;
}
.tag.fairy {
  background-color: rgba(226, 150, 225, 0.1);
  color: #e296e1;
}
.tag.fighting {
  background-color: rgba(196, 79, 99, 0.24);
  color: #c44d61;
}
.tag.ghost {
  background-color: rgba(97, 110, 183, 0.1);
  color: #616eb7;
}
.tag.steel {
  background-color: rgba(101, 148, 161, 0.1);
  color: #6594a1;
}
.tag.normal {
  background-color: rgba(144, 144, 144, 0.1);
  color: #909090;
}

.card-pokemon {
  position: relative;
  bottom: 0;
  max-width: 100%;
  height: 30.4rem;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-animation: fadeIn 0.3s forwards;
  animation: fadeIn 0.3s forwards;
}
.card-pokemon:hover {
  -webkit-box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  bottom: 2px;
}
.card-pokemon.grass .image:before {
  background-color: #d6ebdc;
}
.card-pokemon.fire .image:before {
  background-color: #ffebca;
}
.card-pokemon.water .image:before {
  background-color: #dfecf5;
}
.card-pokemon.normal .image:before {
  background-color: rgba(141, 141, 141, 0.2);
}
.card-pokemon.fighting .image:before {
  background-color: rgba(196, 77, 97, 0.2);
}
.card-pokemon.flying .image:before {
  background-color: rgba(158, 180, 227, 0.2);
}
.card-pokemon.poison .image:before {
  background-color: rgba(172, 106, 202, 0.2);
}
.card-pokemon.ground .image:before {
  background-color: rgba(203, 119, 74, 0.2);
}
.card-pokemon.rock .image:before {
  background-color: rgba(134, 203, 190, 0.2);
}
.card-pokemon.bug .image:before {
  background-color: rgba(131, 158, 56, 0.2);
}
.card-pokemon.ghost .image:before {
  background-color: rgba(97, 110, 183, 0.2);
}
.card-pokemon.steel .image:before {
  background-color: rgba(101, 148, 161, 0.2);
}
.card-pokemon.electric .image:before {
  background-color: rgba(207, 190, 93, 0.2);
}
.card-pokemon.psychic .image:before {
  background-color: rgba(235, 140, 133, 0.2);
}
.card-pokemon.ice .image:before {
  background-color: rgba(124, 197, 182, 0.2);
}
.card-pokemon.dragon .image:before {
  background-color: rgba(70, 105, 153, 0.2);
}
.card-pokemon.dark .image:before {
  background-color: rgba(61, 60, 63, 0.2);
}
.card-pokemon.fairy .image:before {
  background-color: rgba(221, 138, 220, 0.2);
}
.card-pokemon .image {
  position: relative;
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.4rem;
  z-index: 2;
}
.card-pokemon .image:before {
  content: '';
  width: 16.5rem;
  height: 16.5rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}
.card-pokemon .image img {
  max-width: 55%;
  max-height: 200px;
}
.card-pokemon .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.8rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card-pokemon .info > div span {
  display: block;
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #7a7d80;
  margin-bottom: 0.6rem;
}
.card-pokemon .info > div strong {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #2f3133;
}
.card-pokemon .info img {
  margin-bottom: 0.5rem;
}
.card-pokemon .info .icon {
  width: 2.8rem;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
}
.card-pokemon .info .icon-grass {
  background-image: url('../img/icon-grass.svg');
}
.card-pokemon .info .icon-fire {
  background-image: url('../img/fire.svg');
}
.card-pokemon .info .icon-water {
  background-image: url('../img/water.svg');
}
.card-pokemon .info .icon-ghost {
  background-image: url('../img/ghost.svg');
}
.card-pokemon .info .icon-stone {
  background-image: url('../img/stone.svg');
}
.card-pokemon .info .icon-plants {
  background-image: url('../img/plants.svg');
}
.card-pokemon .info .icon-bug {
  background-image: url('../img/bug.svg');
}

.container {
  width: 100%;
  max-width: 123.7rem;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 2.4rem;
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.2rem;
  z-index: 2020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header span {
  font-size: 1.3rem;
  color: #ffffff;
}
@media (max-width: 560px) {
  header {
    height: 8.2rem;
  }
  header img {
    max-width: 120px;
  }
}

footer {
  background-color: #3f5db3;
  padding-top: 6.7rem;
  padding-bottom: 6.5rem;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer h4 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 180%;
  color: #ffffff;
}
footer p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 180%;
  color: #ffffff;
  opacity: 0.8;
}
@media (max-width: 560px) {
  footer {
    padding: 4rem 0;
  }
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .text {
    margin-bottom: 4rem;
  }
  footer h4 {
    text-align: center;
  }
}

.s-area-slide-hero {
  position: relative;
  width: 100%;
  height: 99.4rem;
}
.bg1 {
  background-image: url('https://codeboost.com.br/projetos/pokeapi/img/bg-red.svg');
  background-size: cover;
}

.bg2 {
  background-image: url('https://codeboost.com.br/projetos/pokeapi/img/bg-blue.svg');

  background-size: cover;
}
.bg3 {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/421/227/original/purple-lavender-color-background-free-vector.jpg');
  background-size: cover;
}
.s-area-slide-hero .slide-hero {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.s-area-slide-hero .slide-hero .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}
/* .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area {
  background: url("./assets/images/bg-blue.svg") no-repeat center center;
} */
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text .tag .icon {
  background-color: rgba(63, 104, 186, 0.15);
}
.s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text .tag span {
  color: #3f67ba;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide.blue
  .main-area
  .text
  .image
  .pokeball {
  position: relative;
  top: -65px;
  left: 13px;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide.blue
  .main-area
  .area-explore
  .txt
  .icon {
  background-color: rgba(175, 192, 227, 0.3);
}
.s-area-slide-hero .slide-hero .swiper-slide:after {
  content: '';
  width: 100%;
  height: 28.8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #eff3f6;
  z-index: 0;
  pointer-events: none;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area {
  position: relative;
  width: 100%;
  height: 99.6rem;
  background: url('./assets/images/bg-red.svg') no-repeat center center;
  background-size: cover !important;
  padding-top: 14.3rem;
}

.activeSlide {
  opacity: 1;
  padding-top: 14rem;

  /* transform: translateX(0); */
}
.lastSlide {
  opacity: 0;
  display: none;
}
.nextSlide {
  opacity: 0;
  display: none;
}

.s-area-slide-hero .slide-hero .swiper-slide .main-area .container {
  position: relative;
  height: 100%;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
  -webkit-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 3.4rem;
  background-color: #ffffff;
  border-radius: 244px;
  padding: 4px 18px 6px 4px;
  margin-bottom: 2.9rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .tag .icon {
  width: 2.6rem;
  height: 2.6rem;
  background: rgba(194, 0, 0, 0.15);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 8px;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .tag span {
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  color: #c20001;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.8rem;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 0.8rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image {
  position: relative;
  width: 100%;
  max-width: 79.8rem;
  margin: 0 auto;
  margin-top: 16.2rem;
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image .lights {
  position: absolute;
  top: -4.9rem;
  left: 50%;
  z-index: 2;
  margin-left: -8.5rem;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explore {
  position: absolute;
  bottom: 32.7rem;
  width: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explore img{
  rotate: 90deg
}
.s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explore .txt {
  position: relative;
  top: -39px;
  left: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .txt
  .icon {
  width: 4rem;
  height: 4rem;
  background: #c90c0c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .txt
  span {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #ffffff;
  margin-left: 3rem;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .swiper-pagination {
  position: relative;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.s-area-slide-hero
  .slide-hero
  .swiper-slide
  .main-area
  .area-explore
  .swiper-pagination
  .swiper-pagination-bullet:not(:first-child) {
  margin-left: 8px;
}
@media (max-width: 768px) {
  .s-area-slide-hero {
    height: 95.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide:after {
    height: 25rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text h2 {
    max-width: 385px;
  }
  .s-area-slide-hero
    .slide-hero
    .swiper-slide.blue
    .main-area
    .text
    .image
    .pokeball {
    top: -58px;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .area-explore {
    display: none;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image {
    margin-top: 8.2rem;
  }
}
@media (max-width: 560px) {
  .s-area-slide-hero {
    overflow: hidden;
    height: 104.5rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide.blue .main-area .text h2 {
    max-width: 25.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area {
    padding-top: 12rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text h2 {
    font-size: 4.8rem;
    line-height: 5.9rem;
    margin-bottom: 2.4rem;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-area-slide-hero .slide-hero .swiper-slide .main-area .text .image img {
    max-width: 720px;
  }
  .s-area-slide-hero .slide-hero .swiper-slide:after {
    height: 34rem;
  }
}

.s-all-info-pokemons {
  position: relative;
  z-index: 2;
  margin-top: -30rem;
  padding-top: 11.9rem;
}
.s-all-info-pokemons .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 9.1rem;
}
.s-all-info-pokemons .top h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.9rem;
  letter-spacing: -0.01em;
  color: #2f3133;
  max-width: 26.5rem;
}
.s-all-info-pokemons .top .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 40.3rem;
  height: 5.6rem;
  background-color: #ffffff;
  border-radius: 122px;
  padding: 0 8px;
}
.s-all-info-pokemons .top .search .icon {
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(158, 185, 225, 0.1);
  border: 1px solid #e1e9ef;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.s-all-info-pokemons .top .search .icon:hover {
  background-color: rgba(158, 185, 225, 0.3);
}
.s-all-info-pokemons .top .search .icon[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
.s-all-info-pokemons .top .search input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 0;
  margin-left: 1.7rem;
  font-size: 1.5rem;
  line-height: 150%;
  color: #a0afba;
  outline: none;
}
.s-all-info-pokemons .top .search input::-webkit-input-placeholder {
  color: #a0afba;
}
.s-all-info-pokemons .top .search input::-moz-placeholder {
  color: #a0afba;
}
.s-all-info-pokemons .top .search input:-ms-input-placeholder {
  color: #a0afba;
}
.s-all-info-pokemons .top .search input::-ms-input-placeholder {
  color: #a0afba;
}
.s-all-info-pokemons .top .search input::placeholder {
  color: #a0afba;
}
.s-all-info-pokemons .area-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-all-info-pokemons .area-all .left-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 23.9rem;
  border-right: 1px solid #eff3f6;
  padding-top: 7rem;
  padding-bottom: 10rem;
}
.s-all-info-pokemons .area-all .left-container ul li:first-child button {
  padding-top: 0;
}
.s-all-info-pokemons .area-all .left-container ul li button {
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemons .area-all .left-container ul li button:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.s-all-info-pokemons .area-all .left-container ul li button.active {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.s-all-info-pokemons .area-all .left-container ul li button.grass span {
  color: #73b861;
}
.s-all-info-pokemons .area-all .left-container ul li button.poison span {
  color: #ac6aca;
}
.s-all-info-pokemons .area-all .left-container ul li button.water span {
  color: #4f77be;
}
.s-all-info-pokemons .area-all .left-container ul li button.fire span {
  color: #e96303;
}
.s-all-info-pokemons .area-all .left-container ul li button.psychic span {
  color: #eb8b85;
}
.s-all-info-pokemons .area-all .left-container ul li button.flying span {
  color: #758cbd;
}
.s-all-info-pokemons .area-all .left-container ul li button.ice span {
  color: #71baac;
}
.s-all-info-pokemons .area-all .left-container ul li button.ground span {
  color: #ce8056;
}
.s-all-info-pokemons .area-all .left-container ul li button.rock span {
  color: #84beb3;
}
.s-all-info-pokemons .area-all .left-container ul li button.electric span {
  color: #d4bc34;
}
.s-all-info-pokemons .area-all .left-container ul li button.bug span {
  color: #9bba48;
}
.s-all-info-pokemons .area-all .left-container ul li button.dark span {
  color: #595761;
}
.s-all-info-pokemons .area-all .left-container ul li button.dragon span {
  color: #2c6ac1;
}
.s-all-info-pokemons .area-all .left-container ul li button.fairy span {
  color: #e296e1;
}
.s-all-info-pokemons .area-all .left-container ul li button.fighting span {
  color: #c44d61;
}
.s-all-info-pokemons .area-all .left-container ul li button.ghost span {
  color: #616eb7;
}
.s-all-info-pokemons .area-all .left-container ul li button.steel span {
  color: #6594a1;
}
.s-all-info-pokemons .area-all .left-container ul li button.normal span {
  color: #909090;
}
.s-all-info-pokemons .area-all .left-container ul li button .icon {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 2rem;
}
.s-all-info-pokemons .area-all .left-container ul li button span {
  font-weight: 500;
  line-height: 150%;
  color: #3e75c3;
}
.s-all-info-pokemons .area-all .right-container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 7.2rem;
  padding-left: 7.5rem;
  padding-bottom: 10rem;
}
.s-all-info-pokemons .area-all .right-container .top-container {
  margin-bottom: 7.5rem;
}
.s-all-info-pokemons .area-all .right-container .top-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.s-all-info-pokemons .area-all .right-container .top-container > div img {
  margin-right: 1.8rem;
}
.s-all-info-pokemons .area-all .right-container .top-container > div span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 150%;
  color: #4d5053;
  font-family: 'Montserrat', sans-serif;
}
.s-all-info-pokemons .area-all .right-container .select-custom {
  position: relative;
  width: 100%;
  margin-bottom: 5.5rem;
  display: none;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom.active
  .item-selected {
  border-radius: 5px 5px 0 0;
}
.s-all-info-pokemons .area-all .right-container .select-custom.active ul {
  opacity: 1;
  pointer-events: all;
}
.s-all-info-pokemons .area-all .right-container .select-custom .item-selected {
  cursor: pointer;
  width: 100%;
  height: 5.6rem;
  border: 1px solid #a0afba;
  background: url('../img/arrow-down-select.svg') no-repeat right 21px center;
  padding: 0 2.1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  .item-selected
  span {
  color: #7a7d80;
  opacity: 0.6;
  font-size: 1.4rem;
  margin-right: 4px;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  .item-selected
  strong {
  font-size: 1.4rem;
  color: #7a7d80;
  font-weight: 600;
}
.s-all-info-pokemons .area-all .right-container .select-custom ul {
  position: absolute;
  top: 5.6rem;
  left: 0;
  width: 100%;
  overflow-y: auto;
  height: 223px;
  border: 1px solid #a0afba;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 21px;
  opacity: 0;
  pointer-events: none;
  background-color: #ffffff;
  z-index: 2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul::-webkit-scrollbar-track {
  background-color: transparent;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul::-webkit-scrollbar-thumb {
  background-color: #3e75c3;
  border-radius: 5px;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li:first-child
  button {
  padding-top: 0;
}
.s-all-info-pokemons .area-all .right-container .select-custom ul li button {
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 1.5rem 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.grass
  span {
  color: #73b861;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.poison
  span {
  color: #ac6aca;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.water
  span {
  color: #4f77be;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.fire
  span {
  color: #e96303;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.psychic
  span {
  color: #eb8b85;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.flying
  span {
  color: #758cbd;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.ice
  span {
  color: #71baac;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.ground
  span {
  color: #ce8056;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.rock
  span {
  color: #84beb3;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.electric
  span {
  color: #d4bc34;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.bug
  span {
  color: #9bba48;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.dark
  span {
  color: #595761;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.dragon
  span {
  color: #2c6ac1;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.fairy
  span {
  color: #e296e1;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.fighting
  span {
  color: #c44d61;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.ghost
  span {
  color: #616eb7;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.steel
  span {
  color: #6594a1;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button.normal
  span {
  color: #909090;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button
  .icon {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 2rem;
}
.s-all-info-pokemons
  .area-all
  .right-container
  .select-custom
  ul
  li
  button
  span {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #3e75c3;
}
.s-all-info-pokemons .area-all .right-container .all {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
}
.s-all-info-pokemons .area-all .right-container .btn-show-more {
  border: 0;
  background-color: rgba(63, 93, 179, 0.1);
  width: 19.6rem;
  line-height: 4.5rem;
  display: block;
  margin: 0 auto;
  margin-top: 6.8rem;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: #3f5db3;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.s-all-info-pokemons .area-all .right-container .btn-show-more:hover {
  background-color: #3f5db3;
  color: #ffffff;
}
@media (max-width: 1200px) {
  .s-all-info-pokemons .top .search {
    max-width: 32.3rem;
  }
  .s-all-info-pokemons .area-all .left-container {
    max-width: 15.9rem;
    padding-top: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container {
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container .top-container {
    margin-bottom: 4rem;
  }
  .s-all-info-pokemons .area-all .right-container .all {
    grid-gap: 2rem;
  }
}
@media (max-width: 768px) {
  .s-all-info-pokemons {
    margin-top: -25.8rem;
  }
  .s-all-info-pokemons .top {
    margin-bottom: 6rem;
  }
  .s-all-info-pokemons .left-container {
    display: none;
  }
  .s-all-info-pokemons .right-container {
    padding-left: 0;
  }
}
@media (max-width: 560px) {
  .s-all-info-pokemons {
    margin-top: -30.5rem;
    padding-top: 12rem;
    padding-bottom: 4rem;
  }
  .s-all-info-pokemons .top {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 9.7rem;
  }
  .s-all-info-pokemons .top h2 {
    max-width: 100%;
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }
  .s-all-info-pokemons .top .search {
    max-width: 100%;
    width: 100%;
  }
  .s-all-info-pokemons .area-all .right-container {
    padding: 0;
  }
  .s-all-info-pokemons .area-all .right-container .top-container {
    margin-bottom: 3.2rem;
  }
  .s-all-info-pokemons .area-all .right-container .top-container > div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .s-all-info-pokemons .area-all .right-container .select-custom {
    display: block;
  }
  .s-all-info-pokemons .area-all .right-container .all {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    max-width: 86%;
    margin: 0 auto;
  }
}

#open-modal {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}
.open-modal .modal .box {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal .box {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 71rem;
  height: 50.8rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(5rem);
  transform: translateY(5rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .box .close {
  position: absolute;
  top: -4.4rem;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  width: 3.6rem;
  height: 3.6rem;
  border: 0;
}
.modal .box .left-container {
  position: relative;
  width: 100%;
  max-width: 19.1rem;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.modal .box .left-container[bgType='grass'],
.modal .box .left-container[bgType='bug'] {
  background-image: url('../img/bg-grass.svg');
}
.modal .box .left-container[bgType='fire'] {
  background-image: url('../img/bg-fire.svg');
}
.modal .box .left-container[bgType='water'] {
  background-image: url('../img/bg-water.svg');
}
.modal .box .left-container[bgType='bug'] {
  background-image: url('../img/bg-bug.svg');
}
.modal .box .left-container[bgType='dark'] {
  background-image: url('../img/bg-dark.svg');
}
.modal .box .left-container[bgType='dragon'] {
  background-image: url('../img/bg-dragon.svg');
}
.modal .box .left-container[bgType='electric'] {
  background-image: url('../img/bg-electric.svg');
}
.modal .box .left-container[bgType='fairy'] {
  background-image: url('../img/bg-fairy.svg');
}
.modal .box .left-container[bgType='fighting'] {
  background-image: url('../img/bg-fighting.svg');
}
.modal .box .left-container[bgType='ground'] {
  background-image: url('../img/bg-ground.svg');
}
.modal .box .left-container[bgType='ice'] {
  background-image: url('../img/bg-ice.svg');
}
.modal .box .left-container[bgType='normal'] {
  background-image: url('../img/bg-normal.svg');
}
.modal .box .left-container[bgType='poison'] {
  background-image: url('../img/bg-poison.svg');
}
.modal .box .left-container[bgType='psychic'] {
  background-image: url('../img/bg-psychic.svg');
}
.modal .box .left-container[bgType='rock'] {
  background-image: url('../img/bg-rock.svg');
}
.modal .box .left-container[bgType='ghost'] {
  background-image: url('../img/bg-ghost.svg');
}
.modal .box .left-container[bgType='steel'] {
  background-image: url('../img/bg-steel.svg');
}
.modal .box .left-container[bgType='flying'] {
  background-image: url('../img/bg-flying.svg');
}
.modal .box .left-container .icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .box .left-container .image {
  position: relative;
  right: -2.5rem;
  width: 100%;
  max-width: 20.2rem;
}
.modal .box .left-container .image img {
  width: 100%;
}
.modal .box .right-container {
  width: 100%;
  max-width: 51.9rem;
  padding: 3.5rem 7.2rem 2.9rem 7.4rem;
}
.modal .box .right-container .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
}
.modal .box .right-container .name h2 {
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.4rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #2f3133;
  margin-right: 0.8rem;
  text-transform: capitalize;
}
.modal .box .right-container .name span {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.01em;
  color: #7a7d80;
}
.modal .box .right-container .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3.2rem;
}
.modal .box .right-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 35.5rem;
  margin-bottom: 3.2rem;
}
.modal .box .right-container .info li {
  position: relative;
}
.modal .box .right-container .info li.active .ballon {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.modal .box .right-container .info li span {
  display: block;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #7a7d80;
  margin-bottom: 0.4rem;
}
.modal .box .right-container .info li strong {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.01em;
  color: #2f3133;
}
.modal .box .right-container .info li button {
  position: absolute;
  left: 0;
  bottom: -3.2rem;
  margin: 0;
  width: 9rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.modal .box .right-container .info li button:hover {
  opacity: 0.6;
}
.modal .box .right-container .info li .ballon {
  position: absolute;
  background-color: #ffffff;
  top: 75px;
  padding: 10px;
  width: 110px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal .box .right-container .info li .ballon.grass strong {
  color: #73b861;
}
.modal .box .right-container .info li .ballon.poison strong {
  color: #ac6aca;
}
.modal .box .right-container .info li .ballon.water strong {
  color: #4f77be;
}
.modal .box .right-container .info li .ballon.fire strong {
  color: #e96303;
}
.modal .box .right-container .info li .ballon.psychic strong {
  color: #eb8b85;
}
.modal .box .right-container .info li .ballon.flying strong {
  color: #758cbd;
}
.modal .box .right-container .info li .ballon.ice strong {
  color: #71baac;
}
.modal .box .right-container .info li .ballon.ground strong {
  color: #ce8056;
}
.modal .box .right-container .info li .ballon.rock strong {
  color: #84beb3;
}
.modal .box .right-container .info li .ballon.electric strong {
  color: #d4bc34;
}
.modal .box .right-container .info li .ballon.bug strong {
  color: #9bba48;
}
.modal .box .right-container .info li .ballon.dark strong {
  color: #595761;
}
.modal .box .right-container .info li .ballon.dragon strong {
  color: #2c6ac1;
}
.modal .box .right-container .info li .ballon.fairy strong {
  color: #e296e1;
}
.modal .box .right-container .info li .ballon.fighting strong {
  color: #c44d61;
}
.modal .box .right-container .info li .ballon.ghost strong {
  color: #616eb7;
}
.modal .box .right-container .info li .ballon.steel strong {
  color: #6594a1;
}
.modal .box .right-container .info li .ballon.normal strong {
  color: #909090;
}
.modal .box .right-container .info li .ballon strong {
  display: block;
}
.modal .box .right-container .info li .ballon strong:not(:last-child) {
  margin-bottom: 10px;
}
.modal .box .right-container .weak {
  margin-bottom: 3.2rem;
}
.modal .box .right-container .weak h4 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4d5053;
  margin-bottom: 1.6rem;
}
.modal .box .right-container .stats h5 {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4d5053;
  margin-bottom: 1.6rem;
}
.modal .box .right-container .stats .item {
  margin-bottom: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal .box .right-container .stats .item:last-child {
  margin-bottom: 0px;
}
.modal .box .right-container .stats .item span {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7a7d80;
  width: 6.8rem;
  display: block;
  margin-right: 2.2rem;
}
.modal .box .right-container .stats .item .bar-status {
  position: relative;
  width: 100%;
  max-width: 28.3rem;
  height: 3px;
  background-color: #eff3f6;
  overflow: hidden;
}
.modal .box .right-container .stats .item .bar-status .bar {
  width: 88%;
  height: 100%;
  background-color: #c20001;
}
.modal .box .right-container .stats .item .bar-status .separator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal .box .right-container .stats .item .bar-status .separator li {
  width: 4px;
  height: 4px;
  background-color: #ffffff;
}
.modal
  .box
  .right-container
  .stats
  .item
  .bar-status
  .separator
  li:not(:first-child) {
  margin-left: 5.4rem;
}
@media (max-width: 560px) {
  .modal {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .modal .box {
    height: 87%;
    border-radius: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
  }
  .modal .box .close {
    top: 0;
    border-radius: 0 0 0 8px;
    z-index: 2;
  }
  .modal .box .left-container {
    max-width: 100%;
    height: 125px;
    background-size: cover;
  }
  .modal .box .left-container .icon {
    top: 15px;
    right: 60px;
  }
  .modal .box .left-container .image {
    position: absolute;
    right: initial;
    width: 100%;
    top: 25px;
    left: 50%;
    margin-left: -5rem;
    max-width: 10rem;
    height: 126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-container {
    padding: 5rem 2.4rem;
  }
  .modal .box .right-container .name {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-container .name h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .modal .box .right-container .name span {
    font-size: 1.4rem;
  }
  .modal .box .right-container .type {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .modal .box .right-container .info {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5.5rem;
  }
  .modal .box .right-container .info li button {
    left: 50%;
    margin-left: -4.5rem;
  }
  .modal .box .right-container .info li .ballon {
    left: 50%;
    margin-left: -55px;
  }
  .modal .box .right-container .weak h4 {
    text-align: center;
  }
  .modal .box .right-container .stats h5 {
    text-align: center;
  }
  .modal .box .right-container .stats .item span {
    width: 9.8rem;
    margin-right: 1rem;
  }
}
